.headerLine {
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #2e2e2e;
  }

.investment-status-page {
    min-height: 100vh;
}

.investment-status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    font-size: 2rem;
    font-weight: 700;
    color: white;
}

.investment-status p {
    font-size: 2rem;
}

.investment-status-table {
    display: grid;
    grid-template-columns: 0.7fr 1.3fr 2fr 1fr 1.5fr 1fr;
    margin-top: 2rem;
    justify-items: center;
    font-size: 1.4rem; 
    font-weight: 500;
    background-color: #2e2e2e;
    color: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.investment-list {
    flex-direction: column;
    background-color: #212121;
    margin-top: 2rem;
    color: white;
    border-radius: 0.5rem;
    margin-top: 1rem;
}