.ksh-investment-item {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1.5fr 1fr 1.5fr 1fr;
    align-items: center;
    margin-top: 1.5rem;
    font-size: 1.3rem;
    background-color: #2e2e2e;
    color: white;
    border-radius: 0.5rem;
}

.ksh-company-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.ksh-company-info>img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}