/* 김희주 */

.khj-investment-item {
  display: grid;
  width: 100%;
  height: 6.5rem;
  grid-template-columns: 0.7fr 1.3fr 2fr 1fr 1.5fr 1fr;
  align-items: center;
  justify-items: center;
  font-size: 1.3rem;
  border-bottom: 1px solid #4b4b4b;
  background-color: #212121;
  border-radius: 0.5rem;
  color: white;
}

.khj-company-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.khj-company-info > img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.khj-investment-item > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-align: center;
}
