/* 조형민(공통) */

* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  /* height: 100%; */
  height: 100%;
  /* 16px * 62.5% = 10px = 1rem */
}
#root {
  font-family: 'Pretendard';
  /* min-height: 100vh;
  height: 100%; */
  position: relative;
}
body {
  background-color: #131313;
  /* height: 100%; */
  min-height: 100vh;
}
a {
  cursor: pointer;
  text-decoration: none;
}
.primary-round-button,
.primary-round-button-small {
  width: 18.3rem;
  height: 4.8rem;
  background-color: #eb5230;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.6rem;
  cursor: pointer;
}
.primary-round-button.disable,
.primary-round-button-small.disable {
  background-color: #2e2e2e;
  color: #747474;
  cursor: default;
}
.primary-round-button-small {
  width: 13.5rem;
  height: 4rem;
}
.primary-rectangle-button-outline {
  width: 10.4rem;
  height: 4.8rem;
  border-radius: 1rem;
  border: 1px solid #eb5230;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eb5230;
  font-weight: 600;
  font-size: 1.6rem;
  cursor: pointer;
}
.primary-rectangle-button-outline.disable {
  border: 1px solid #747474;
  color: #747474;
  cursor: default;
}
.primary-rectangle-button-outline.white {
  border: 1px solid #ffffff;
  color: #ffffff;
}
